<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <div>
          <div class="holder">
            <img src="/assets/images/products/{{ product?.imageUrl }}" class="img-fluid" width="28%">
          </div>
          
          <h3>{{ product?.name }}</h3>
          <div class="price">{{ product?.unitPrice | currency }}</div>
          <button class="mt-2 btn btn-primary" (click)="onAddToCart(product)">
            <i class="fa fa-shopping-cart"></i>Add to cart
          </button>
          <hr>
          <h4>Опис продукту</h4>
          <p>{{ product?.description }}</p>

          <a routerLink="/products">Назад до меню</a>
        </div>
      </div>
    </div>
  </div>
</div>

